<%- include('header') -%>
<%- include('preloader') -%>
<%- include('navbar') -%>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="col-lg-12">
                    <div class="card">
                    <div class="card-header">
                        <div class="card-actions">
                            <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                            <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                            <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                        </div>
                        <h4 class="card-title m-b-0">Contract Overview</h4>
                    </div>
                    <div class="card-body collapse show">
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr>
                                        <th>Contract N°</th>
                                        <th>Type</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 
                                    if(data){
                                    for(var i=0;i< data.length;i++){ %>
                                    <tr>
                                        <td> <%= data[i].numero %> </td>
                                        <td> <%= data[i].type %> </td>
    
                                        <td><%= data[i].duration %></td>
    
                                        <td><a href="/myContractDetails/<%= data[i].numero %>">Details</a></td>
                                        <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                    </tr>
                                    <% }} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
    </div>
    <footer class="footer">
        Copyrigths &copy; Badeel - All rights reserved.
    </footer>
</div>
</div>
<%- include('footer') -%>